.admin-panel {
  padding: 40px;
  background-color: #fff9f3;
  min-height: 100vh;
}
h1 {
  color: #ff6600;
}
.add-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}
.add-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.add-form button {
  background-color: #ff6600;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.add-form button:hover {
  background-color: #e55d00;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
th, td {
  border: 1px solid #eee;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #ff6600;
  color: white;
}

.btn-edit {
  background-color: #ffd000;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 4px;
}
.btn-edit:hover {
  background-color: #e6be00;
}

.btn-delete {
  background-color: #ff3b3b;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}
.btn-delete:hover {
  background-color: #d83030;
}
